<div class="top-container">
	<!-- <img src="https://s3.amazonaws.com/jose-images-personal/IMAG0308.jpg" alt=""> -->
	<div class="title">
		<h2>JOSE CHIRIVELLA</h2>
  </div>
  <div class="subtitle">
		<h4>FULL STACK WEB DEVELOPER</h4>
	</div>
	<div class="social-icons">
		<a href="https://github.com/JoseChirivella14"><i class="fa fa-github-square"></i></a>
		<a href="https://twitter.com/Chiri14"><i class="fa fa-twitter-square"></i></a>
		<a href="https://linkedin.com/in/josechirivella/"><i class="fa fa-linkedin-square"></i></a>
	</div>
</div>
