<div class="top-container">
  <div class="content-left">
    <div class="profile-picture">
    </div>
    <div class="social-icons">
      <a href="https://github.com/JoseChirivella14"><i class="fa fa-github-square"></i></a>
      <a href="https://twitter.com/Chiri14"><i class="fa fa-twitter-square"></i></a>
      <a href="https://linkedin.com/in/josechirivella/"><i class="fa fa-linkedin-square"></i></a>
      <a ><i class="fa fa-envelope"></i></a>

    </div>
  </div>
  <div class="content-right">
    <div class="profile-summary">
      <h2>Hi. I'm Jose.</h2>
    </div>
  </div>
</div>