<div class="top-container">
  <div class="content-left">
    <div class="profile-picture">
    </div>
    <div class="social-media">
    </div>
  </div>
  <div class="content-right">
    <div class="profile-summary">
      <h2>Hi. I'm Jose.</h2>
    </div>
  </div>
</div>