<div class="top-container">
	<h2>Jose Chirivella</h2>
	<h4>Web Developer</h4>
	<div class="social-icons">
		<a href="https://github.com/JoseChirivella14"><i class="fa fa-github-square"></i></a>
		<a href="https://twitter.com/Chiri14"><i class="fa fa-twitter-square"></i></a>
		<a href="https://linkedin.com/in/josechirivella/"><i class="fa fa-linkedin-square"></i></a>
	</div>
</div>