<div class="top-container">
	<!-- <img src="https://s3.amazonaws.com/jose-images-personal/IMAG0308.jpg"> -->
	<div class="title">
		<h2>JOSE CHIRIVELLA</h2>
  </div>
  <div class="subtitle">
		<h5>FULL STACK WEB DEVELOPER</h5>
	</div>
	<div class="social-icons">
		<a href="https://github.com/JoseChirivella14"><i class="fa fa-github-square"></i></a>
		<a href="https://twitter.com/Chiri14"><i class="fa fa-twitter-square"></i></a>
		<a href="https://linkedin.com/in/josechirivella/"><i class="fa fa-linkedin-square"></i></a>
	</div>
</div>
<div class="about-me-container">
  <div class="title">
    <h4>ABOUT ME</h4>
  </div>
  <div class="subtitle">
    <h5>I'M GLAD TO MEET YOU</h5>
  </div>
  <div class="story">
    <p>iewjfiewjijewi</p>
  </div>
  <div class="profile-picture">
    <img src="https://s3.amazonaws.com/jose-images-personal/jose_profile(edit).jpg" />
  </div>
  <div class="personal-info">
    <h5>NAME</h5>
  </div>
</div>
