@import 'foundation_and_overrides';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import 'colors';
@import 'home';
@import 'projects';

/*------------------------------------*\
    #HTML/BODY
\*------------------------------------*/

/*------------------------------------*\
    # LAYOUTS
\*------------------------------------*/
.row {
  max-width: rem-calc(960) !important;
}
section {
  padding: 2rem 0;
}

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*------------------------------------*\
		#NAV
\*------------------------------------*/
	
/*------------------------------------*\
		# HELPERS
\*------------------------------------*/
.box-blue {
	background: $blue;
	display: inline-block;
	padding: rem-calc(5);
	color: $white;
	font-weight: bold;
}

/*------------------------------------*\
		# FOOTER
\*------------------------------------*/
.footer-info {
	margin: 0;
	padding: 0.5rem 0;
}

/*------------------------------------*\
		# BORDER'S TYPE
\*------------------------------------*/
.border-primary {
  border-bottom: 2px solid $blue;
}
.border-secondary {
  border-bottom: 2px solid $white;
}

/*------------------------------------*\
		# TYPOGRAPHY HELPERS
\*------------------------------------*/

.white-text {
	color: $white;
}
// TODO Remove me after updates
// Alert
#alert-container {
	margin: 0;
	#inner-container {
		max-width: 60rem;
		margin: 0 auto;
	}
}