/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "font-awesome";
@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "colors.scss";
@import "home.scss";
@import "contacts.scss";
@import "projects.scss";

/*------------------------------------*\
    #HTML/BODY
\*------------------------------------*/
html {
  box-sizing: border-box;
}

/*------------------------------------*\
    # LAYOUTS
\*------------------------------------*/
.container {
  //@include outer-container;
}

.top-container {
  @include span-columns(12);
  height: 64vh;
  max-height: 64vh;
  position: relative;
}

  .top-container img {
    @include omega();
    @include size(100%);
  }

    .social-icons {
      @include margin(null auto);
    }

.about-me-container {
  @include span-columns(12);
  position: relative;
}
  .story {
    @include span-columns(5 of 12);
    width:38%;
    @include shift(0);
    //@include omega();
    text-align: right;
  }
  .profile-picture {
    @include span-columns(2 of 12);
  }
  .personal-info {
    @include span-columns(4 of 12);
    @include shift(0.5);
    @include omega();
  }
  .skills {
    @include span-columns(12);
  }

.resume-container {
  @include span-columns(12);
  position: relative;
}

  .education {
    @include span-columns(6 of 12);
    position: relative;
    text-align: right;
  }

  .experience {
    @include span-columns(6 of 12);
    position: relative;
  }

.portfolio-container {
  @include span-columns(12);
  position: relative;
}
  .portfolio {
    position: relative;
    .projects {
      @include padding(0 4em);
      @include span-columns(3);
      @include omega(4n);
    }
  }
/*------------------------------------*\
    #FONTS
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    #SOCIAL ICONS
\*------------------------------------*/
.social-icons a {
  color: unset;
}
.social-icons i {
  font-size: 2em;
  @include padding(null 1%);
}

/*------------------------------------*\
    #NAV
\*------------------------------------*/
nav {
  text-align: center;
}
  nav a {
    text-decoration: none;
  }
    nav li {
      display: inline-block;
    }

/*------------------------------------*\
    # BORDER'S TYPE
\*------------------------------------*/
.border-primary {
  border-bottom: 2px solid $jose-blue;
}
  .border-primary-type-1 {
    border-left: 2px solid $jose-blue;
    @include padding(null null null 5px);
  }
.border-secondary {
  border-bottom: 1px solid white;
}

/*------------------------------------*\
    # BOX TYPES
\*------------------------------------*/
.box-blue {
  display: inline-block;
  background: $jose-blue;
  padding: 5px;
  color: #eeeeee;
}

/*------------------------------------*\
    # FONT STYLES
\*------------------------------------*/
a {
  color: unset;
}
.p-without-margin p {
  @include margin(0);
}