@import 'foundation_and_overrides';
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import 'colors';
@import 'home';
@import 'projects';

/*------------------------------------*\
    #HTML/BODY
\*------------------------------------*/

/*------------------------------------*\
    # LAYOUTS
\*------------------------------------*/
.row {
  max-width: rem-calc(740) !important;
}

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

  /*------------------------------------*\
      #SOCIAL ICONS
  \*------------------------------------*/
  .fa {
    font-size: rem-calc(24);
    margin: 0 0.7rem;
    color: $white;
    border: 1px solid $white;
    border-radius: 50px;
    padding: 0.9rem;
    min-width: rem-calc(55);
  }

  /*------------------------------------*\
      #NAV
  \*------------------------------------*/

  /*------------------------------------*\
      # FOOTER
  \*------------------------------------*/

  /*------------------------------------*\
      # BORDER'S TYPE
  \*------------------------------------*/
.border-primary {
  border-bottom: 2px solid $blue;
}
.border-secondary {
  border-bottom: 2px solid $white;
}
