/*------------------------------------*\
#               CONTAINERS
\*------------------------------------*/
#top-container {
  background: url('mountain_lake.jpg') center center no-repeat;
  background-size: cover;
  min-height: rem-calc(600);
	.fa {
    font-size: rem-calc(24);
    margin: 0 0.7rem;
    color: $white;
    border: 1px solid $white;
    border-radius: 50px;
    padding: 0.9rem;
    min-width: rem-calc(55);
  }
  @include breakpoint(small only) {
    background-position: 10% 0;
  }
  .content {
    padding-top: 10rem;
    @include breakpoint(medium down) {
      padding-top: 17.5rem;
    }
    .social-icons {
      padding-top: 9rem;
    }
  }
}
#about-me-container {
	background-color: #fafafa;
	.story {
		@include breakpoint(large) {
			text-align: right;
		}
	}
	.personal-info {
		@include breakpoint(large){
			text-align: left;
		}
	}
}
#experience {
	.box-blue {
		background: $blue;
		display: inline-block;
		padding: rem-calc(5);
		color: $white;
		font-weight: bold;
	}
}
