/*------------------------------------*\
#               CONTAINERS
\*------------------------------------*/
.top-container {
  position: absolute;
  display: block;
  .social-icons {
    @include position(relative, 16em 0 0 0);
    .fa {
      color: #eeeeee;
    }
  }
  .title {
    @include position(relative, 8em 0 0 0);
    h2 {
      border-bottom: 2px solid $jose-blue;
    }
  }
}

.about-me-container {
  background-color: $jose-grey;
}

  .profile-picture img {
    border: none;
    display: block;
  }

  .story {
    float: right;
    padding-left: 2em;
  }

.resume-container {
  .fa {
    @include padding(null 1%);
    font-size: 2em;
  }
}

.education p {
  @include margin(5px 0);
}

.experience p {
  @include margin(5px 0);
}

.portfolio-container {
  background-color: $jose-darkgrey;
  .title {
    color: white;
  }
}