// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------------------------*\
#               CONTAINERS
\*------------------------------------*/
.top-container {
  text-align: center;
  position: absolute;
  display: block;
}
  .title {
    @include margin(0 auto);
    text-align: center;
    @include size(25em null);
    h2 {
      border-bottom: 1px solid grey;
    }
  }

.about-me-container {
  background-color: $jose-grey;
}

  .profile-picture img {
    border: none;
    display: block;
  }

  .story {
    float: right;
  }

.resume-container {
  .fa {
    @include padding(null 1%);
    font-size: 2em;
  }
}

.education p {
  @include margin(5px 0);
}

.experience p {
  @include margin(5px 0);
}

.portfolio-container {
  background-color: $jose-darkgrey;
}