// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------------------------*\
#               CONTAINERS
\*------------------------------------*/
.top-container {
  text-align: center;
  position: absolute;
  display: block;
}

  .top-container h2, h5 {
    text-align: center;
  }

  .top-container h2 {
    padding-bottom:0.5em;
  }

  .top-container h5 {
    padding-top: 0.8em;
  }

    .title {
      @include margin(0 auto);
      text-align: center;
      @include size(25em 1em);
      h2 {
        border-bottom: 1px solid grey;
      }
    }

.about-me-container {
  background-color: $jose-grey;
  h3,h4,h5 {
    text-align: center;
  }
}

  .profile-picture img {
    @include padding(0 3em);
  }

  .story {
    float: right;
  }

.portfolio-container {
  background-color: $jose-darkgrey;
}