// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------------------------*\
# LAYOUTS
\*------------------------------------*/

.top-container img {
    @include omega;
    @include size(100% 100%);
    z-index: -1;
    text-align: center;
    position: absolute;
}

    .top-container h2, h4 {
        z-index: 1;
        background-image: none;
        text-align: center;
        @include span-columns(6);
    }

        .title {
            @include span-columns(4);
        }
        .social-icons {
            @include span-columns(4);
        }

/*------------------------------------*\
#
\*------------------------------------*/
