/*------------------------------------*\
#               CONTAINERS
\*------------------------------------*/
#top-container {
  background: url('mountain_lake.jpg') center center no-repeat;
  background-size: cover;
  min-height: rem-calc(600);
  @include breakpoint(small only) {
    background-position: 10% 0;
  }
  .content {
    padding-top: 10rem;
    @include breakpoint(medium down) {
      padding-top: 17.5rem;
    }
    .social-icons {
      padding-top: 9rem;
    }
  }
}
#about-me-container {
	.story {
		@include breakpoint(large) {
			text-align: right;
		}
	}
	.personal-info {
		@include breakpoint(large){
			text-align: left;
		}
	}
}
