// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio {
  img {
    @include size(100% 100%);
  }
}

.project img {
  @include size(85% 100%);
}
.img-project {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project-description {
  width: 60%;
  @include margin(0 auto);
}