.portfolio {
  img {
    @include size(100%);
  }
}

.project {
  height: 100%;
  background-color: $jose-grey;
  img {
    @include size(85% 100%);
  }
}

.img-project {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project-description {
  width: 80%;
  @include margin(0 auto);
  text-align: center;
}

.project-links {
  width:30%;
  @include margin(0 auto);
  text-align: center;
}